html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url("./assets/images/bg.png");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */
    height: 500px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

#canvas {
    border: solid 1px #6c8b6b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    -webkit-box-shadow: 0px 0px 12px 2px rgba(224, 223, 69, 0.89), 0px 14px 30px -10px #3B3A12;
    box-shadow: 0px 0px 12px 2px rgba(224, 223, 69, 0.89), 0px 14px 30px -10px #3B3A12;
}

.timer-info {
    position: absolute;
    top: 0px;
    color: white;
    margin-top: 45px;
}

.timer-info img {
    width: 250px;
    height: 90px;
}

.timer-info>span {
    position: relative;
    color: white;
    font-size: 40px;
    margin-left: -150px;
    top: -35px;
}

.clicks-info {
    position: absolute;
    left: calc(100vw - 250px);
    margin-top: 43px;
    color: white;
}

.clicks-info img {
    width: 250px;
    height: 90px;
    margin-right: 0px;
}

.clicks-info>span {
    position: relative;
    color: white;
    font-size: 40px;
    margin-left: -150px;
    top: -33px;
}

.overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
}

.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay>.btn-replay {
    position: fixed;
    left: 50%;
    top: 57%;
    transform: translate(-50%);
    cursor: pointer;
}

.overlay>.btn-exit {
    position: fixed;
    left: 60%;
    top: 50%;
    transform: translate(-50%);
    cursor: pointer;
}

.overlay-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#betImg {
    margin-left: 40px;
}

#okImg {
    margin-left: 90px;
    cursor: pointer;
}

#betInput:focus {
    outline: none;
}

#minusImage {
    position: absolute;
    margin-top: 25px;
    margin-left: -40px;
    cursor: pointer;
}

#plusImage {
    position: absolute;
    margin-top: -85px;
    cursor: pointer;
    margin-left: 240px;
}

#betInput::-webkit-outer-spin-button,
#betInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#betInput {
    padding: 15px 40px;
    line-height: 25px;
    background: rgb(36, 21, 9);
    background: linear-gradient(180deg, rgba(36, 21, 9, 1) 0%, rgba(55, 29, 12, 1) 100%);
    color: #94fe00;
    -moz-appearance: textfield;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    width: 200px;
}


/* 
@media screen and (max-width: 630px) {
  .infoPanel{
    background-color: #097191;
    width: 90vw;
    height: 4vh;
    left: 5vw;
  }

  .clicks-info {
    position: absolute;
    margin-left: 90vw;
  }

}

@media screen and (min-width: 630px) {
  .infoPanel{
    background-color: #097191;
    width: 88vw;
    height: 4vh;
    left: 6vw;
  }

  .clicks-info {
    position: absolute;
    margin-left: 88vw;
  }
}

@media screen and (min-width: 642px) {
  .infoPanel{
    background-color: #097191;
    width: 88vw;
    height: 4vh;
    left: 6vw;
  }

  .clicks-info {
    position: absolute;
    margin-left: 88vw;
  }
}

@media screen and (min-width: 713px) {
  .infoPanel{
    position: relative;
    background-color: #097191;
    width: 564px;
    height: 4vh;
    left: 50%;
    transform: translate(-50%);
  }

  .clicks-info {
    position: absolute;
    margin-left: 564px;
  }
}
 */